.conteudo {
  position: relative;
  width: 70%;
  margin: auto;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 15px;
  margin: 20px auto;
  text-align: center;
  font-family: "Raleway", sans-serif;
}

.conteudo h2 {
  padding: 20px;
  margin-top: 20px;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: bold;
  text-align: left;
}

.dados-gatinhos li {
  width: 30%;
  height: 210px;
  border: 1px solid #000;
  border-radius: 5px;
  display: inline-block;
  vertical-align: bottom;
  padding: 10px;
  text-align: center;
  margin: 20px 0;
}

.dados-gatinhos img{
    border-radius: 5px;
}

.dados-gatinhos button {
  margin: 20px auto 10px auto;
  display: block;
  width: 10em;
  height: 3em;
  border: none;
  background-color: #b0ada4;
  border-radius: 7px;
  transition: 1s;
  color: #fff;
}

.dados-gatinhos button:hover {
  background-color: #e8d292;
}

.dados-texto{
    padding: 10px;
}

strong{
    font-weight: bold;
}

.ativo {
  color: green;
  font-weight: bold;
}
