body {
  background-color: #e3dfd3;
}

main {
  margin: auto;
  text-align: center;
}

.conteudo {
  position: relative;
  width: 70%;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 15px;
  margin: 20px auto 20px auto;
}

.conteudo-texto {
  text-align: left;
  margin: 10px;
  font-family: "Raleway", sans-serif;
  padding: 20px;
}

.conteudo-titulo {
  padding: 20px;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: bold;
}

.lista-gato {
  padding: 20px;
  margin-bottom: 20px;
}

.lista-gato li {
  display: inline-block;
  margin-right: 25px;
  box-shadow: 0px 0px 0px 10px rgba(224, 220, 220, 0.75);
  -webkit-box-shadow: 0px 0px 0px 10px rgba(224, 220, 220, 0.75);
  -moz-box-shadow: 0px 0px 0px 10px rgba(224, 220, 220, 0.75);
  border-radius: 15px;
}

.lista-gato img {
  border-radius: 15px 15px 0 0;
}

.lista-gato p {
  font-family: "Raleway", sans-serif;
  padding: 5px;
}

p strong{
    font-weight: bold;
}

.lista-gato button {
  background-color: #b0ada4;
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
  transition: 1s;
  
}

.lista-gato button:hover {
  background-color: #e8d292;
  transform: scale(1.1);
}

.lista-gato a {
  padding: 50px;
  text-decoration: none;
  color: #fff;
}

.ant-prox{
  padding: 20px;
  text-decoration: none;
  color: #000;
  transition: 1s;
  color: #635A3F;
  font-size: 18px;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  
}

.ant-prox:hover{
  font-size: 20px;
  color: #E8D292;
}
