.conteudo {
  position: relative;
  width: 70%;
  height: 28rem;
  margin: auto;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 15px;
  margin: 20px auto;
  text-align: center;
}

.conteudo h2 {
  padding: 20px;
  margin-top: 50px;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: bold;
}

.conteudo label {
  text-align: left;
  margin: 10px;
  font-family: "Raleway", sans-serif;
  padding: 20px;
  text-align: center;
}

.login {
  width: 35%;
  display: block;
  margin: 15px auto;
  padding: 8px;
  border: 1px solid #63625c;
  border-radius: 5px;
  transition: 200ms;
}

.login:active{
  transform: scale(1.1);
}


.enviar {
  margin: 20px;
  padding: 10px 60px;
  border: none;
  background-color: #b0ada4;
  border-radius: 7px;
  margin: 20px;
  transition: 1s;
}

.enviar a{
  text-decoration: none;
  color: #fff;
}

.enviar:hover{
  background-color: #E8D292;
}


